.del{
    position: relative;
    width: 100%;
    min-height: 100vh;

    display: grid;
    grid-template-columns: 25% 75%;
}

.del .key-pairs{
    margin-top: 20px
}


.del .key-pairs .input-key-pair, .advanced .input-field{
    margin-bottom: 15px;
}

.data-fields, .advanced-fields, .info-data{
    position: relative;
    padding: 0 25px;
}

.del .data-fields:empty::after{
    content: "No data inserted";
    font-size: 1.3em;
    opacity: 0.7;
    font-family: "Poppins";
}

.advanced-title{
   display: flex;
   align-items: center;
   justify-content: flex-start;

   cursor: pointer;
   width: 250px;
   margin-bottom: 10px !important;
}

.advanced-title .advanced-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;

    transition: transform 0.25s ease-out;
}

.advanced-title .advanced-icon.up{
    transform: rotate(180deg);
}