.input-key-pair{
    position: relative;
    display: grid;
    grid-template-columns: 25% 75%;
    gap: 10px;
    align-items: flex-start;
    justify-content: flex-start;
    
    border: 1px solid black;
    background-color: transparent;
    padding: 5px 20px;
    border-radius: 20px;

    width: 100%;
}

.input-key-pair *:focus{
    outline: none;
}

.input-key-pair input, .input-key-pair textarea{
    font-family: "Poppins";
    background-color: transparent;
    border: none;
    font-size: 1.5em;

    transition: font-size 0.3s;
}

.input-key-pair textarea{
    resize: none;
    overflow: hidden;
    height: 36px;
    padding-right: 30px;
}

.input-key-pair input.key{
    font-weight: 600;
    height: 36px;
}

.input-key-pair input.key.small{
    font-size: 1.2em;
}

.input-key-pair input.key.smaller{
    font-size: 1em;
}

.input-key-pair .delete-icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 30px;

    transition: opacity 0.5s;
    cursor: pointer;
}

.input-key-pair .delete-icon:hover{
    opacity: 0.7;
}