.message{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);

    display: grid;
    grid-template-columns: 1fr 30px;
    align-items: center;
    justify-content: center;

    max-width: 600px;
  
    background:rgba(255, 255, 255, 0.8);
    border-left: 6px solid black;
    border-radius: 5px 10px 10px 5px;
    box-shadow: 0 5px 12px rgba(61, 55, 55, 0.35);
    padding: 15px 15px;
    padding-right: 10px;
  
    z-index: 100000;

    overflow: hidden;
}

.message.success{
    border-left-color: rgb(16, 204, 100);
}

.message.error{
    border-left-color: rgb(223, 36, 22);
}

.message .title{
    font-weight: 600;
    margin-right: 5px;
}

.message .message-text{
    display: flex;
    align-items: flex-start;
    margin: 0;
    margin-right: 10px;
    font-size: 1.1em;
}

.message .message-text p{
    padding: 0;
    padding-left: 5px;
    margin: 0;
}

.message.show{
    animation: show-message 0.5s ease-out forwards;
}

.message.hide{
    animation: hide-message 0.5s ease-out forwards;
}

.message .message-icon{
    font-size: 2.5em;
    margin-right: 10px;
}

.message button{
    font-size: 1.2em;
    letter-spacing: -2px;
    line-height: 0px;
    margin: 0;
    padding: 0;
    padding-bottom: 2px;
    padding-right: 2px;

    width: 25px;
    height: 25px;

    border: none;
    border-radius: 50%;
    background-color: transparent;
    transition: all 0.5s ease-out;
}

.message button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}

@keyframes show-message{
    0%{
        transform: translate(-50%, 50px);
        opacity: 0;
    }
    100%{
        transform: translate(-50%, 0px);
        opacity: 1;
    }
}

@keyframes hide-message{
    to{
        transform: translate(-50%, 50px);
        opacity: 0;
    }
}